<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - vsports</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <link rel="stylesheet" href="~/css/user.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid ">
                <a class="navbar-brand" href="/"><img src="/favicon.ico" style="width:64px"/></a>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="tìm kiếm" aria-label="Search">
                </form>
                <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 justify-content-center mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="">Giải đấu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/SportClub">Câu lạc bộ</a>
                        </li>
                        
                    </ul>
                </div>
                <div class="float-end d-flex">
                    <span class="btn btn-outline-primary text-dark">Đăng nhập</span>
                    <span class="btn btn-primary mx-2">Tạo tài khoản</span>
                </div>
            </div>
        </nav>
    </header>
    <div class="container overflow-hidden">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
