<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - vsports</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="/lib/fe_admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <link rel="stylesheet" href="~/css/user.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid ">
                <a class="navbar-brand" href="/"><img src="/favicon.ico" style="width:64px"/></a>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="tìm kiếm" aria-label="Search">
                </form>
                <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 justify-content-center mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/leagues">Giải đấu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/teams">Câu lạc bộ</a>
                        </li>
                        
                    </ul>
                </div>
                <div class="float-end d-flex">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <span class="text-black rounded-circle overflow-hidden pointer" data-bs-toggle="offcanvas" data-bs-target="#siteBar" aria-controls="siteBar">
                            <img src="https://lh3.googleusercontent.com/a/ACg8ocL230iohCVrflkuFGOtH2inonXZMHm21lfu32_aP_AtKQ=s96-c" width="40" />
                        </span>
                    }   
                    else
                    {
                        <span class="btn btn-outline-primary text-dark" data-bs-toggle="modal" data-bs-target="#ModalLogin">Đăng nhập</span>
                        <span class="btn btn-primary mx-2" data-bs-toggle="modal" data-bs-target="#ModaRegister">Tạo tài khoản</span>
                    }
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container overflow-hidden">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <partial name="~/Views/Shared/_Auth.cshtml" />
    <partial name="~/Views/Shared/Site_bar.cshtml" />
    <script src="/js/user.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
