<div class="offcanvas offcanvas-end" tabindex="-1" id="siteBar" aria-labelledby="siteBarLabel">

    <div class="offcanvas-body">
        <div class="mt-9"></div>

        <ul class="list-group shadow-lg pointer">
            <li class="list-group-item"><span><i class="fas fa-user"></i></span> Thông tin cá nhân</li>
            <li class="list-group-item"><span><i class="fas fa-id-card"></i></span> Trang cá nhân</li>
        </ul>

        <div class="mt-2"></div>

        <ul class="list-group shadow-lg pointer">
            <li class="list-group-item"><span><i class="fas fa-users-slash"></i></span> Câu lạc bộ</li>
            <li class="list-group-item"><span><i class="fas fa-trophy"></i></span> Giải đấu</li>
        </ul>

        <div class="mt-2"></div>

        <ul class="list-group shadow-lg pointer">
            <li class="list-group-item" onclick="Logout()"><span><i class="fas fa-sign-out-alt"></i></span> Đăng xuất</li>
        </ul>

    </div>
</div>