@model vsports.Models.SeasonOnTournamentsVM.SeasonOnTournamentsVM
@{
    ViewData["Title"] = Model.TournamentsMain.Name;

}
<div class="main-gd ">
    <div class="container">
        <div class="d-flex mb-4">

            <div class="">
                <a href="/season/add" class="btn btn-outline-success">Tạo giải đấu</a>
            </div>
        </div>
        <div class="main-list">
            <div class="head-title-left position-relative">
                <h2 class="text-black  pt-2">Danh sách giải đấu của @Model.TournamentsMain.Name </h2>
            </div>
            <div class="row mt-5 mb-5 pb-5">
                @foreach (var items in Model.SeasonOnTournamentsList)
                {
                    <div class="col-12 col-md-3 col-xl-3">
                        <div class="card-main">
                            <div class="img-gd">
                                <div class="img-border">
                                    <img src="@items.AvatarImage" alt="">
                                </div>
                            </div>
                            <div class="viewer-text">
                                <p>@items.Name</p>
                            </div>
                            <div class="btn-theo-doi">
                                <a href="/season/details/@items.Id" class="button-main">Xem giải đấu</a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>

</div>