.main-gd {
    background-color: #F4F7FE;
    padding-top: 2rem;
}

.ml-2 {
    margin-left: 2rem;
}

.card-main {
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
}

.img-gd {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.img-border {
    border-radius: 999999px;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    border: 1px solid rgb(221, 221, 221);
}

.img-border img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 999999px;
}

.title-gd {
    display: flex;
    height: 60px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}

.title-gd p {
    text-align: center;
    width: 100%;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    --chakra-line-clamp: 2;
    flex-wrap: nowrap;
    font-size: 14px;
    color: #000 !important;
}
