@model vsports.Models.SportVM.SportVM
<form>
    <input hidden asp-for="Id" />
    <input hidden asp-for="Created" />
    <input hidden asp-for="IsDelete" />

    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

</form>