﻿<div id="AppVueSport" class="row">
    <div class="col-12 row">
        <div class="col-3"><div v-on:click="AddSport()" class="btn btn-success">Thêm môn thể thao</div></div>
    </div>
    <div class="container mt-lg-2 col-12">
        <table class="table table-striped" id="tableSport">
            <thead class="text-dark">
                <tr>
                    <th class="text-center">STT</th>
                    <th class="text-center">Tên</th>
                    <th class="text-center"></th>
                </tr>
            </thead>
            <tr v-for="(item, index) in data">
                <td class="text-center">{{index+1}}</td>
                <td class="text-center">{{item.name}}</td>
                <td class="text-center">
                    <span class="btn btn-warning" v-on:click="EditSport(item.id)">Cập nhật</span>
                    <span class="btn btn-danger" v-on:click="DeleteSport(item.id)">Xóa</span>
                </td>
            </tr>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    var AppVueSport = new Vue({
        el: "#AppVueSport",
        data: {
            data: [],
        },
        computed: {

        },
        mounted() {
            this.initData();
        },
        methods: {
            initData() {
                fetch("/Admin/Sport/GetData")
                .then(res=>res.json())
                .then(data=>{
                    this.data = data.data;
                })
            },
            AddSport() {
                $("#SmallModelContent").load(`/Admin/Sport/AddEditData?id=0`, function () {
                    $("#staticSmallModel").modal("show");
                    $("#staticSmallModellTitle").html("Thêm môn thể thao mới")
                })
            },
            EditSport(id) {
                $("#SmallModelContent").load(`/Admin/Sport/AddEditData?id=${id}`, function () {
                    $("#staticSmallModel").modal("show");
                    $("#staticSmallModellTitle").html("Cập nhật")
                })
            },
            DeleteSport(id) {
                let custhis = this;
                Swal.fire({
                    title: 'Bạn có chắc chắn muốn xóa ?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Xóa',
                    showCancelButton: true,
                    cancelButtonText: "Hủy",
                }).then((result) => {
                    if (result.isConfirmed) {
                        fetch(`/Admin/Sport/DeleteData?id=${id}`, {
                            method: "DELETE"
                        })
                            .then(res => res.json())
                            .then(data => {
                                if (data.statusCode) {
                                    Swal.fire({
                                        position: 'center',
                                        icon: 'success',
                                        title: "Thành công",
                                        showConfirmButton: false,
                                        timer: 1500
                                    }).then((res) => { custhis.initData() });
                                }
                            })
                    }
                })
            }
        }
    });

    function SaveSmall() {
        let _data = new FormData()
        _data.append("Id", $("#Id").val())
        _data.append("Created", $("#Created").val())
        _data.append("IsDelete", $("#IsDelete").val())
        _data.append("Name", $("#Name").val())

        fetch("/Admin/Sport/SaveData", {
            method: "POST",
            headers: {
                processData: false,
                contentType: false,
            },
            body: _data
        })
            .then(res => res.json())
            .then(data => {
                $('#staticSmallModel').modal('hide');
                Swal.fire({
                    title: "Thành công",
                    icon: 'info',
                }).then(res => {
                    AppVueSport.initData();
                });
            })
    }
</script>