.main-gd {
  background-color: #F4F7FE;
  padding-top: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.card-main {
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
}

.img-gd {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.img-border {
  border-radius: 999999px;
  width: 4rem;
  height: 4rem;
  cursor: pointer;
  border: 1px solid rgb(221, 221, 221);
}

.img-border img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 999999px;
}

.title-gd {
  display: flex;
  height: 60px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}

.title-gd p {
  text-align: center;
  width: 100%;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  --chakra-line-clamp: 2;
  flex-wrap: nowrap;
  font-size: 14px;
  color: #000 !important;
}

.loading-main {
  display: none;
}

.loading-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.loading-background {
  background: #000;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
}

.u-loading {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.u-loading__symbol {
  background-color: #4caf50;
  padding: 8px;
  animation: loading 3s infinite;
  border-radius: 5px;
}

.u-loading__symbol img {
  display: block;
  max-width: 100%;
  animation: loading-icon 3s infinite;
}

@keyframes loading {
  0% {
    transform: perspective(250px) rotateX(0deg) rotateY(0deg);
  }
  15% {
    background-color: #71AEA5;
  }
  16% {
    background-color: #E85700;
  }
  50% {
    transform: perspective(250px) rotateX(180deg) rotateY(0deg);
    background-color: #E85700;
  }
  65% {
    background-color: #E85700;
  }
  66% {
    background-color: #71AEA5;
  }
  100% {
    transform: perspective(250px) rotateX(180deg) rotateY(-180deg);
  }
}
@keyframes loading-icon {
  0% {
    transform: perspective(250px) rotateX(0deg) rotateY(0deg);
  }
  15% {
    transform: perspective(250px) rotateX(0deg) rotateY(0deg);
  }
  16% {
    transform: perspective(250px) rotateX(180deg) rotateY(0deg);
  }
  50% {
    transform: perspective(250px) rotateX(180deg) rotateY(0deg);
  }
  65% {
    transform: perspective(250px) rotateX(180deg) rotateY(0deg);
  }
  66% {
    transform: perspective(250px) rotateX(180deg) rotateY(180deg);
  }
  100% {
    transform: perspective(250px) rotateX(180deg) rotateY(180deg);
  }
}
.camera-change {
  position: absolute;
  bottom: 16px;
  right: 16px;
  background-color: rgb(237, 237, 237);
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  width: 60px;
  height: 60px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}

.avata-main {
  position: absolute;
  bottom: -50px;
  border-color: var(--chakra-colors-chakra-border-color);
}

.img-main {
  border-radius: var(--chakra-radii-full);
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--chakra-fontWeights-medium);
  position: relative;
  flex-shrink: 0;
  background: var(--avatar-background);
  color: var(--chakra-colors-white);
  --avatar-border-color: var(--chakra-colors-white);
  vertical-align: top;
  font-size: 1.2rem;
  width: 100px;
  height: 100px;
  border: 1px solid rgb(221, 221, 221);
}

.img-main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--chakra-radii-full);
}

.camera-change-img {
  position: absolute;
  bottom: 0;
  background-color: rgb(237, 237, 237);
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
}

.box {
  display: block;
  min-width: 300px;
  height: 100%;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}

.upload-options {
  position: relative;
  height: 75px;
  background-color: cadetblue;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  transition: background-color ease-in-out 150ms;
}
.upload-options:hover {
  background-color: #7fb1b3;
}
.upload-options input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload-options label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
}
.upload-options label::after {
  content: "+";
  font-family: "Material Icons";
  position: absolute;
  font-size: 2.5rem;
  color: rgb(230, 230, 230);
  top: calc(50% - 2.5rem);
  left: calc(50% - 1.25rem);
  z-index: 0;
}
.upload-options label span {
  display: inline-block;
  width: 50%;
  height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}
.upload-options label span:hover i.material-icons {
  color: lightgray;
}

.js--image-preview {
  height: 600px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: url("");
  background-color: white;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.js--image-preview::after {
  content: "upload";
  font-family: "Material Icons";
  position: relative;
  font-size: 4.5em;
  color: rgb(230, 230, 230);
  top: calc(50% - 4rem);
  left: calc(50% - 6.25rem);
  z-index: 0;
}
.js--image-preview.js--no-default::after {
  display: none;
}
.js--image-preview:nth-child(2) {
  background-image: url("http://bastianandre.at/giphy.gif");
}

i.material-icons {
  transition: color 100ms ease-in-out;
  font-size: 2.25em;
  line-height: 55px;
  color: white;
  display: block;
}

.drop {
  display: block;
  position: absolute;
  background: rgba(95, 158, 160, 0.2);
  border-radius: 100%;
  transform: scale(0);
}

.animate {
  animation: ripple 0.4s linear;
}

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
